* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-image: url(https://www.fillmurray.com/1220/270);
  color: #5fe329;
}
.navbar {
  font-size: .5rem;
  display: flex;
}
.blog-logo__murray {
  border-radius: 50%;
  opacity: .4;
}
.blog-logo__murray:hover {
  opacity: 1;
}
.bill__write {
  position: absolute;
  left: 2rem;
  top: .4rem;
}
.navbar__links {
  position: absolute;
  right: .0rem;
  font-size: 1rem;
}
.hero {
  padding: 5rem;
}
.surf {
  display: flex;
  justify-content: center;
  margin: 0;
}
.fall__2016 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.main__content {
  display: flex;
  flex-grow: 1;
}
.right__article {
  background: red;

}
.left__article {
  background: white;
}
.headline {
font-size: 3rem;
color: #315ddf;
}
.under__headline {
color: #a3a0a6;
display: flex;
align-items: flex-end;
font-size: .7rem;

}
.segal {
  border-radius: 50%;
}
.the__hoff {
  color: #2c7a9c;

}
.date {
padding-left: 3rem;
}
.lorem__1 {
font-size: .8rem;
}
.crazy__quote {
color: #5ebab7;
font-size: 2rem;
}
.lorem__2 {
font-size: .8rem;
}
.footer {
  background: purple;
}
