
* {
box-sizing: border-box;}
*::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
}
header {
background-image: url(https://www.fillmurray.com/1220/270);
color: #5fe329;
}
.navbar-parent {

}
.navbar {
font-size: .5rem;
display: flex;
}
.bill__write {
  position: absolute;
    left: 2rem;
    top: .4rem;
}
.navbar__logo {

}
.blog-logo {

}
p {

}
.navbar__links {
  position: absolute;
      right: .0rem;
}
.about {

}
.search {

}
.hourglass {

}
.hero {
padding: 5rem;
}
h1 {
  display: flex;
      justify-content: center;
      margin: 0;
}
h6 {
  display: flex;
      justify-content: center;
      margin-top: 0;
}
